body {
  background-color: red;
  font-family: arial;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

#header a,
#header a:visited,
#header a:hover,
#header a:active {
  color: inherit;
  text-decoration: none;
}

h1 {
  border: 1px solid black;
  background-color: black;
  color: gold;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 4px;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: yellow;
  margin-bottom: 20px;
  border-radius: 5px;
}

.day {
  border-bottom: 1px solid black;
}
.day:hover {
  /* background-color: silver; */
  /* border: 20px solid gold; */
  background-color: orange;
}

.meal {
  font-weight: bold;
}

.todo {
  color: red;
  font-weight: bold;
}

.today {
  background-color: gold;
}

.calendar img {
  border-radius: 5px;
  width: 100%;
}

.bisons img {
  border-radius: 5px;
  width: 100%;
}

.rental-car img {
  border-radius: 5px;
  width: 100%;
}

.flight img {
  border-radius: 5px;
  width: 100%;
}

.map img {
  border-radius: 5px;
  width: 100%;
}
