body {
  background-color: red;
  font-family: arial;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: lightyellow;
  margin-bottom: 20px;
}

.day {
  border-bottom: 1px solid black;
}
.day:hover {
  background-color: silver;
}

.todo {
  color: red;
  font-weight: bold;
}

.today {
  background-color: gold;
}
