body {
  background-color: red;
  font-family: arial;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active {
  color: inherit;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: lightyellow;
  margin-bottom: 20px;
}

.day {
  border-bottom: 1px solid black;
}
.day:hover {
  background-color: silver;
}

.meal {
  font-weight: bold;
}

.todo {
  color: red;
  font-weight: bold;
}

.today {
  background-color: gold;
}

.calendar img {
  border-radius: 5px;
  width: 100%;
}

.bisons img {
  border-radius: 5px;
  width: 100%;
}

.rental-car img {
  border-radius: 5px;
  width: 100%;
}
